aiohttp==0.18.4
certifi==2018.8.24
chardet==3.0.4

colorama==0.3.9
Flask==1.0.2
httpie==0.9.2
idna==2.7
]
Pygments==2.2.0
PyJWT==1.4.0
requests==2.19.1
scikit-learn==0.19.2


urllib3==1.23



numpy==1.13.3
Flask==0.12.2
scikit_learn==0.19.1

click==6.7
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.9.4
MarkupSafe==0.23
scipy==0.18.1
sklearn==0.0
Werkzeug==0.11.15
